{{ include('layout/head.twig') }}

<body>

{{ include('layout/head_menu.twig') }}

<main class="mdl-layout__content">
    <div class="page-content">
        <div class="content-grid mdl-grid">
            <div itemscope itemtype="http://schema.org/Photograph" class="content-grid mdl-grid">
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text">
                        {{ 'pageNotFound'|trans }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{ include('layout/footer.twig') }}

</body>
</html>

