<!doctype html>

<html lang="{{ app['locale'] }}">

<head>
    <meta charset="utf-8">
    <!-- Yandex verification-->
    <meta name="yandex-verification" content="e24970a8d7d41f61" />
    <meta name="description" content="{{ 'siteDesc'|trans }}. {{ 'siteName'|trans }}">
    <meta name="author" content="AlexKhram">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ 'siteName'|trans }}</title>

    <link rel="stylesheet" href="/styles/material.light_blue-indigo.min.css" />
    <link rel="stylesheet" href="/styles/prokudin.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
